<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SampleHibernate</display-name>
  <welcome-file-list>
    <welcome-file>jsp/Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.ems.controller.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>com.ems.controller.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/jsp/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAppraisalServlet</servlet-name>
    <servlet-class>com.ems.controller.UserAppraisalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAppraisalServlet</servlet-name>
    <url-pattern>/jsp/UserAppraisalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.ems.controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/jsp/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateDbUserServlet</servlet-name>
    <servlet-class>com.ems.controller.UpdateDbUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDbUserServlet</servlet-name>
    <url-pattern>/jsp/UpdateDbUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLeaveDetailServlet</servlet-name>
    <servlet-class>com.ems.controller.UserLeaveDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLeaveDetailServlet</servlet-name>
    <url-pattern>/jsp/UserLeaveDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateLeaveRequestServlet</servlet-name>
    <servlet-class>com.ems.controller.UpdateLeaveRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLeaveRequestServlet</servlet-name>
    <url-pattern>/jsp/UpdateLeaveRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDetailDeleteServlet</servlet-name>
    <servlet-class>com.ems.controller.UserDetailDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailDeleteServlet</servlet-name>
    <url-pattern>/jsp/UserDetailDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendingMessageServlet</servlet-name>
    <servlet-class>com.ems.controller.SendingMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendingMessageServlet</servlet-name>
    <url-pattern>/jsp/SendingMessageServlet</url-pattern>
  </servlet-mapping>
</web-app>